<div>
    <br>
    <button (click)="createNewPlane()" class="btn btn-success">Add new</button>
    <br>
    <br>
    <form *ngIf="isAdd" #form="ngForm">
      <label for="name">Name</label>
      <input [(ngModel)]="newPlane.name" class="form-control" id="name" type="text">
      <label for="created">Created</label>
      <input [(ngModel)]="newPlane.created" class="form-control" id="created" type="text">
      <label for="expires">Expires</label>
      <input [(ngModel)]="newPlane.expires" class="form-control" id="expires" type="text">
      <label for="type">Type</label>
      <input [(ngModel)]="newPlane.type" class="form-control" id="type" type="number">
      <button (click)="addPlane(form)" type="submit">Add</button>
    </form>
    <br>
    <table class="table table-stripped" >
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Created</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let plane of planes">
          <td>{{plane.id}}</td>
          <td>{{plane.name}}</td>
          <td>{{plane.created | date:'medium'}}</td>
          <td>{{plane.type.model}}</td>
          <td><button (click)="navigateToDetail(plane.id)" class="btn btn-info">Details</button></td>
        </tr>
      </tbody>
    </table>
  </div>