<div>
    <br>
    <button (click)="createNewType()" class="btn btn-success">Add new</button>
    <br>
    <br>
    <form *ngIf="isAdd" #form="ngForm">
      <label for="model">Model</label>
      <input name="model" [(ngModel)]="newType.model" class="form-control" id="model" type="text">

      <label for="fleightLength">Fleight length</label>
      <input name="fleightLength" [(ngModel)]="newType.fleightLength" class="form-control" id="fleightLength" type="text">

      <label for="maxHeight">Maximum height</label>
      <input name="maxHeight" [(ngModel)]="newType.maxHeight" class="form-control" id="maxHeight" type="text">

      <label for="maxMass">Maximum mass</label>
      <input name="maxMass" [(ngModel)]="newType.maxMass" class="form-control" id="maxMass" type="text">

      <label for="places">Places</label>
      <input name="places" [(ngModel)]="newType.places" class="form-control" id="places" type="text">

      <label for="speed">Speed</label>
      <input name="speed" [(ngModel)]="newType.speed" class="form-control" id="speed" type="text">

    
      <button (click)="addType(form)" type="submit">Add</button>
    </form>
    <br>
    <table class="table table-stripped" >
      <thead>
        <tr>
          <th>Id</th>
          <th>Model</th>
          <th>Places</th>
          <th>Speed</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let type of types">
          <td>{{type.id}}</td>
          <td>{{type.model}}</td>
          <td>{{type.places}}</td>
          <td>{{type.speed}}</td>
          <td><button (click)="navigateToDetail(type.id)" class="btn btn-info">Details</button></td>
        </tr>
      </tbody>
    </table>
  </div>